<html>
<head>
    {% embed 'page/head.twig' %}{% endembed %}
</head>
<body>
    <div class="container">
        {% block body %}<h1>Hello World</h1>{% endblock %}
    </div>
    <script src="/js/bundle.js"></script>
</body>
</html>